name: Build Windows App

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Publish App
      run: dotnet publish YourProject.csproj -c Release -o publish

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: win-build
        path: publish