name: Release Windows App

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: "8.0.x"

    - name: Publish
      run: dotnet publish "Portable Firefox Updater.csproj" -c Release -o publish

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: publish/**
